@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background-color: #282a2e;
    color: #f8fafc;
  }
  
  body {
    margin: 0;
    overflow: hidden;
    background: #282a2e;
  }
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  background: #34373a;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff8c42;
}
